.menu__dishes-list {
    list-style: none;
}

.menu__dishes-list_wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    transition: 200ms;
    position: relative;
}

.menu__dishes-list_wrapper:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background: rgba(0, 0, 0, .2);
    z-index: 1;
}

.menu__dishes-list_wrapper:hover .menu__dishes-list_remove {
    opacity: 1;
}

.menu__dishes-list_dish {
    font-weight: 500;
    margin-top: 10px;
    z-index: 3;
}

.menu__dishes-list_dish::before {
    content: '-   ';
}