.menu__categories-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu__category {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px 0px 0px 20px;
}

.menu__category_title { 
    font-size: 30px;
    margin: auto 0;
}

.update-menu__btn {
    margin: 20px auto;
    padding: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    transition: 300ms;
}

.update-menu__btn:hover, .update-menu__btn:focus {
    background-color: white;
    color: black;
}

.menu__category_add-btn {
    color: white;
    background-color: #77cc6e;
    border: none;
    padding: 5px 10.5px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    transition: 500ms;
}

.menu__category_add-btn:hover, .menu__category_add-btn:focus {
    background-color: white;
    color: #77cc6e;
    transform: rotate(0.25turn);
    outline: none;
}

.menu__category_add-dish {
    max-width: 100%;
}

.menu__category_add-dish::before {
    content: "-  ";
    color: black;
}

.menu__add-dish-text {
    background: transparent;
    border: 2px solid black;
    padding: 5px;
    border-radius: 15px;
}

.menu__add-dish-text::placeholder {
    color: black;
}

.menu__add-dish-text:focus {
    outline: none;
} 

.menu__add-dish_cancel-btn {
    color: red;
    background-color: transparent;
    border: none;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}

.menu__add-dish_add-btn {
    color: #27eb3e;
    background-color: transparent;
    border: none;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}
