.menu__dishes-list_dish {
    font-weight: 500;
    margin-top: 10px;
    z-index: 3;
}

.menu__dishes-list_dish::before {
    content: '-   ';
}

.menu__dishes-list_remove {
    color: red;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
    cursor: pointer;
    opacity: 0;
    transition: 200ms;
    z-index: 2;
}
